.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 16px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

.radio-inline:first-child{
padding-left: 0px;
}
.viewcustomer div{
  margin-bottom: 0.5rem;
}
.viewcustomer div > span:first-child{
  font-weight: 600;
  margin-right: 0.75rem;
}

.ag-layout-normal
{
  height: "100%";
  border-radius: 10px;
}
.fa-plus{
  border: 1px solid;
  border-radius: 15px;
  padding: 2px;
}

.custom-tooltip {
  position: absolute;
  width: 250px;
  height: 170px;
  border: 1px solid black;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 1s;
  background-color: black !important;
  color: whitesmoke;
  border-radius: 10px;
}

.custom-tooltip.ag-tooltip-hiding {
  opacity: 0;
}

.custom-tooltip p {
  margin: 5px;
  /* white-space: nowrap; */
}

.custom-tooltip p:first-of-type {
  font-weight: bold;
}